.App {
    text-align: center;
}

.pink {
    border: 5px solid #f1aad1;
    background-color: #f1aad1;
}

.yellow {
    border: 5px solid #E6AB34;
    background-color: #E6AB34;
}

.green {
    border: 5px solid #47AB32;
    background-color: #47AB32;
}

.blue {
    border: 5px solid #438CA1;
    background-color: #438CA1;
}

.rocket {
    border: 5px solid black;
    background-color: black;
    color: aliceblue;
}

.selected{
    border: 5px solid red;
}